<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>
<div class="login_container">
  <div class="login_stuff">
    <div class="bottom">
      <% Object.keys(providers).forEach(function (key) { %>
        <a href="/auth/<%= providers[key].slug %>" class="twitter_button" role="button"><img src="/images/sign-in-with-twitter-link.png" alt=""></a>
      <% }) %>
    </div>
  </div>
</div>
