<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<!-- <form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username or Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign in</button>
</form>
 -->
<% Object.keys(providers).forEach(function (key) { %>
  <a href="/auth/<%= providers[key].slug %>" class="twitter_button" role="button"><img src="/images/sign-in-with-twitter-link.png" alt=""></a>
<% }) %>
