<!DOCTYPE html>
<html>
  <head>
    <title>Apollo</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/chui-ios-3.8.0.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/screen.css">
    <!--STYLES END-->
    <script src="/js/jquery-2.1.1.min.js"></script>

  </head>

  <body class="<%= view.path.replace('/','-') %>">
    <%- body %>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/chui-3.8.0.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
