<nav class='current'>
  <h1>Apollo</h1>
  <button><a id='openRequests' class='button'>Requests<span class='counter'>43</span></a></button>
</nav>
<article id='main' class='current'>
  <form id="searchForm">
    <select id="categorySelect">
      <% behance_list.categories.forEach(function(category){ %>
        <option value="<%= category %>"><%= category  %></option>
      <% }); %>
    </select>
    <input id="searchInput" type="text" class="form-control" placeholder="search">
    <input type="submit" value="go">
  </form>
</article>

