<nav class='current'>
  <h1>Apollo</h1>
  <button><a id='openRequests' class='button'>Requests(<span class='total_requests counter'>0</span>)<span class='nav'></span></a></button>
</nav>
<article id='main' class='current'>
  <section>
    <form id="searchForm">
      <select id="categorySelect">
        <option value="">Select Category</option>
        <% behance_list.categories.forEach(function(category){ %>
          <option value="<%= category %>"><%= category  %></option>
        <% }); %>
      </select>
      <input id="searchInput" type="text" class="form-control" placeholder="search">
      <input type="submit" value="go">
    </form>
    <ul class="list">
      <li id="askHolder" style="display:none;"><a id="askForImage" href="/ask">Create Request</a></li>
    </ul>
    <div class="grid wrap" id="searchResults">
    </div>
  </section>
</article>

