<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<nav class="current">
  <h1>Ask</h1>
  <a id="createRequestButton" class="button">Request</a>
</nav>
<article id="main" class="current">
<div id="map-canvas"></div>
</article>
